<!DOCTYPE html>
<html>
  <head>
    <title>Calendario Colaborativo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <% flash.each do |message_type, message|
      type = message_type.to_s.gsub('alert', 'red lighten-5').gsub('notice', 'blue lighten-5') %>
      <%= javascript_tag "M.toast({html: '#{message}', classes:'#{type} black-text rounded'})" %>
       
    <% end %>

  </body>
</html>
